{% extends 'base.html' %}
{% load static %}
{% block title %}Cancion - Undersounds{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'music/css/musicdetail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
{% block content %}

<body>
<main>
    <div class="track-info">
        <div class="track-details">
            <h1>{{ song.title }}</h1>
            <p><strong>Artista:</strong> {{ song.artist_name }}</p>
            <p><strong>Álbum:</strong> {{ song.album_title }}</p>
            <p><strong>Género:</strong> {{ song.genre }}</p>
            <p><strong>Fecha de lanzamiento:</strong> {{ song.release_date }}</p>
            <p><strong>Precio:</strong> €{{ song.price }}</p>
            <p><strong>Valoracion Media:</strong> {{ valoracion|floatformat:2 }} / 5</p>
            <form action="{% url 'add_to_cart' song.id %}" method="post" class="add-to-cart-form">
    {% csrf_token %}
    <input type="hidden" name="quantity" value="1">
            {% if in_order %}
            <button type="button" class="add-to-cart-btn" disabled>
                <i class="fas fa-check-double"></i> Ya comprado
            </button>
        {% elif in_cart %}
            <button type="button" class="add-to-cart-btn" disabled>
                <i class="fas fa-shopping-cart"></i> En el carrito
            </button>
        {% else %}
            <button type="submit" class="add-to-cart-btn">
                <i class="fas fa-cart-plus"></i> Añadir al carrito
            </button>
        {% endif %}
</form>
        </div>
        <div class="track-cover">
            {% if song.album_cover %}
                <img src="{{ song.album_cover.url }}" alt="{{ song.title }}">
            {% else %}
                <img src="{% static 'images/default_album.jpg' %}" alt="Sin portada">
            {% endif %}
        </div>
    </div>
</main>

{% if request.user.is_authenticated %}
    {% if song.song_file %}
      <audio controls>
        <source src="{{ song.song_file.url }}" type="audio/mpeg">
        Tu navegador no soporta audio.
      </audio>
        {% if in_order %}
      <p><a href="{{ song.song_file.url }}" download="{{ song.title }}.mp3" class="download-button">Descargar Canción</a></p>
    {% else %}
      <p>Debes comprar la canción para poder descargarla.</p>
      {% endif %}
    {% endif %}
  {% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión</a> para escuchar o descargar la cancion la canción.</p>
  {% endif %}

{% if messages %}
  <div id="flash-message" style="
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
  opacity: 1; /* ¡importante! */
">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
{% endif %}
<script>
       window.addEventListener('DOMContentLoaded', () => {
     const msg = document.getElementById('flash-message');
     if (msg) {
       // Espera 1 segundo y luego hace fade out en 0.5s
       setTimeout(() => {
         msg.style.transition = 'opacity 0.5s ease';
         msg.style.opacity = '0';

         // Espera 0.5s más para eliminarlo del DOM
         setTimeout(() => {
           msg.remove();
         }, 500);
       }, 1000); // 1 segundo visible
     }
   });
</script>


<div class="comments-section">
    <div class="new-comment">
        <h2><strong>Nuevo Comentario</strong></h2>
        <div class="introducir-comment">
            {% if request.user.id %}
                <div class="introducir-comment-header">
                    <img src="{{ request.user.avatar.url }}" alt="Perfil" class="introducir-comment-avatar">
                    <strong class="introducir-comment-username">{{ request.user.username }}</strong>
                </div>
                <form action="{% url 'add_comment' song.id %}" method="POST" class="new-comment-form">
                    {% csrf_token %}
                    <textarea name="comment_text" id="Comment-text" placeholder="Escribe aquí tu comentario" class="introducir-comment-text"></textarea>
                    <div class="rating-section">
                        <label for="rating">Valoración:</label>
                        <div class="star-rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5">★</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4">★</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3">★</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2">★</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1">★</label>
                        </div>
                    </div>
                    <div class="introducir-comment-button-container">
                        <button type="submit" class="add-to-cart-btn">Publicar Comentario</button>
                    </div>
                </form>
            {% else %}
                <p>Inicia sesión o crea una cuenta para dejar un comentario</p>
            {% endif %}
        </div>
    </div>

            <div class="comments-list">
            <h2><strong>Comentarios</strong></h2>
                {% for comment in comments %}
                    <div class="comment">
                        <img src="{{ comment.user_id.avatar.url }}" alt="Perfil" class="user"
                             style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;">
                        <strong>{{ comment.user_id.username }}</strong>
                    <div>
                        <p>{{ comment.rating|floatformat:0 }}/5 <span class="star">★</span></p>
                    </div>
                        <p>{{ comment.comment }}</p>

                        {% if request.user == comment.user_id %}
                    <form method="post" action="{% url 'delete_comment' comment.id %}">
    {% csrf_token %}
                            <input type="hidden" name="song_id" value="{{ comment.song_id_id }}">
    <button type="submit">Eliminar</button>
                        {% endif %}
</form>
                    </div>

            {% endfor %}
        </div>
   <div class="author-info">
        <h2><strong>Artista</strong></h2>
        {% if song.artist %}
        <div class="artist-card">
            <div class="artist-avatar">
                <img src="{{ song.artist.avatar.url }}" alt="{{ song.artist_name }}" class="artist-avatar-img">
            </div>
            <div class="artist-details">
                <h3>{{ song.artist.artist_name }}</h3>
                <p><strong>Género:</strong> {{ song.artist.genre|default:"No especificado" }}</p>
                <p><strong>País:</strong> {{ song.artist.country|default:"No especificado" }}</p>
                {% if song.artist.bio %}
                    <p class="artist-bio">{{ song.artist.bio }}</p>
                {% endif %}
                <a href="{% url 'artist_detail' artist_name=song.artist_name %}" class="btn" style="text-decoration: none; margin-top: 10px;">
                    <i class="fas fa-user"></i> Ver perfil completo
                </a>
            </div>
        </div>
        <div class="artist-more">
            <p>MAS DEL ARTISTA</p>
            {% for song in artist_songs %}
                <div>
                    <a class="btn" style="text-decoration: none; margin-top: 10px;" onclick="location.href='{% url 'music_detail_id' song.id %}'">
                        <i class="fas fa-user"></i> {{ song.title}}
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>Información del artista no disponible</p>
        {% endif %}
    </div>
</div>

    <script>
        var audio = document.getElementById('audio');
        var progressBar = document.getElementById('progress-bar');
        var playButton = document.querySelector('.play-button');

        audio.addEventListener('timeupdate', function() {
            var value = (audio.currentTime / audio.duration) * 100;
            progressBar.value = value;
        });

        progressBar.addEventListener('input', function() {
            var time = (progressBar.value / 100) * audio.duration;
            audio.currentTime = time;
        });

        function togglePlay() {
            if (audio.paused) {
                audio.play();
                playButton.textContent = 'Pause';
            } else {
                audio.pause();
                playButton.textContent = 'Play';
            }
        }


    </script>
{% endblock %}