{% extends 'base.html' %}
{% load static %}
{% block title %}Cancion - Undersounds{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'music/css/musicdetail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}
{% block content %}

<body>
<main>
    <div class="track-info">
        <div class="track-details">
            <h1>{{ song.title }}</h1>
            <p><strong>Artista:</strong> {{ song.artist_name }}</p>
            <p><strong>Álbum:</strong> {{ song.album_title }}</p>
            <p><strong>Género:</strong> {{ song.genre }}</p>
            <p><strong>Fecha de lanzamiento:</strong> {{ song.release_date }}</p>
            <p><strong>Precio:</strong> €{{ song.price }}</p>
            <form action="{% url 'add_to_cart' song.id %}" method="post" class="add-to-cart-form">
    {% csrf_token %}
    <input type="hidden" name="quantity" value="1">
            {% if in_order %}
            <button type="button" class="add-to-cart-btn" disabled>
                <i class="fas fa-check-double"></i> Ya comprado
            </button>
        {% elif in_cart %}
            <button type="button" class="add-to-cart-btn" disabled>
                <i class="fas fa-shopping-cart"></i> En el carrito
            </button>
        {% else %}
            <button type="submit" class="add-to-cart-btn">
                <i class="fas fa-cart-plus"></i> Añadir al carrito
            </button>
        {% endif %}
</form>
        </div>
        <div class="track-cover">
            {% if song.album_cover %}
                <img src="{{ song.album_cover.url }}" alt="{{ song.title }}">
            {% else %}
                <img src="{% static 'images/default_album.jpg' %}" alt="Sin portada">
            {% endif %}
        </div>
    </div>
</main>

{% if song.song_file %}
  <audio controls>
    <source src="{{ song.song_file.url }}" type="audio/mpeg">
    Tu navegador no soporta audio.
  </audio>

{% endif %}

{% if messages %}
  <div id="flash-message" style="
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
  opacity: 1; /* ¡importante! */
">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
{% endif %}



<div class="comments-section">
    <div class="new-comment">
        <h2><strong>Comentarios</strong></h2>
        <div class="comment">
            {% if request.user.id %}
                <img src="{{ request.user.avatar.url }}" alt="Perfil" class="nav-icon">
                {{ request.user.username }}
                <p>
                    <input type="text" id="Comment-text" placeholder="Escribe aquí tu comentario" class="comment-text">
                    <button id="comment-sum" class="add-to-cart-btn">Publicar</button>
                </p>
            {% else %}
                <p>Inicia sesión o crea una cuenta para dejar un comentario</p>
            {% endif %}
        </div>
        <div class="comments-list">
            {% for comment in comments %}
                <div class="comment">
                    <img src="{{ comment.user.avatar.url }}" alt="Perfil" class="user">
                    <strong>{{ comment.user.username }}</strong>
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="author-info">
        <h2><strong>Artista</strong></h2>
        <!-- Aquí va la información del artista -->
        <p>Nombre del artista: {{ artist.name }}</p>
        <p>Género: {{ artist.genre }}</p>
        <p>Biografía: {{ artist.bio }}</p>
    </div>
</div>


    <script>
        var audio = document.getElementById('audio');
        var progressBar = document.getElementById('progress-bar');
        var playButton = document.querySelector('.play-button');

        audio.addEventListener('timeupdate', function() {
            var value = (audio.currentTime / audio.duration) * 100;
            progressBar.value = value;
        });

        progressBar.addEventListener('input', function() {
            var time = (progressBar.value / 100) * audio.duration;
            audio.currentTime = time;
        });

        function togglePlay() {
            showInfoBox();
            if (audio.paused) {
                audio.play();
                playButton.textContent = 'Pause';
            } else {
                audio.pause();
                playButton.textContent = 'Play';
            }
        }


        function goBack() {
            window.history.back();
        }

        function showInfoBox() {
            document.getElementById('overlay').classList.add('active');
        }

        function hideInfoBox() {
            document.getElementById('overlay').classList.remove('active');
        }

        function showInfoBoxD() {
            document.getElementById('overlayDesc').classList.add('active');
        }

        function hideInfoBoxD() {
            document.getElementById('overlayDesc').classList.remove('active');
        }

        function showInfoBoxC() {
            document.getElementById('overlayComent').classList.add('active');
        }

        function hideInfoBoxC() {
            document.getElementById('overlayComent').classList.remove('active');
        }


        function addComment() {
            const newComment = document.getElementById('new-comment').value;
            const userName = "Nuevo Usuario";
            const profilePhoto = "../static/Photos/Users/default.jpg";
            const rating = document.querySelector('.star-rating input:checked') ? document.querySelector('.star-rating input:checked').value : 0;

            if (newComment) {
                const comment = {
                    user_name: userName,
                    profile_photo: profilePhoto,
                    comment: newComment,
                    rating: rating
                };

                item.comments.unshift(comment);
                mostrarComentarios();

                document.getElementById('new-comment').value = '';
                document.querySelector('.star-rating input:checked').checked = false;
            } else {
                alert('Por favor, añade un comentario.');
            }
            hideInfoBoxC();
        }

  // Cierra el mensaje automáticamente después de 1 segundo
        window.addEventListener('DOMContentLoaded', () => {
    const msg = document.getElementById('flash-message');
    if (msg) {
      // Espera 1 segundo y luego hace fade out en 0.5s
      setTimeout(() => {
        msg.style.transition = 'opacity 0.5s ease';
        msg.style.opacity = '0';

        // Espera 0.5s más para eliminarlo del DOM
        setTimeout(() => {
          msg.remove();
        }, 500);
      }, 1000); // 1 segundo visible
    }
  });// 1000 milisegundos = 1 segundo


    </script>
{% endblock %}