{% extends '../base.html' %}
{% block title %}Contacto - Undersounds{% endblock %}
{%  load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">

    <h2 class="title">CONTACTO</h2>

    <div class="parent">
        <div class="contact-container div1">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Asunto:</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">ENVIAR MENSAJE</button>
                </div>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="info-contacto div2">
            <!-- Contenido a la derecha: redes sociales, mapa, etc. -->
            <div class="datos-contacto">
                <h2>Información adicional</h2>
                <p>Teléfono: 123-456-7890</p>
                <p>Dirección: Calle Ejemplo 123</p>
                  <!-- Sección de contacto con iconos de redes sociales -->
                  <p class="social-icons">
                    <a href="https://www.whatsapp.com/tu-perfil" target="_blank">
                      <img src="/static/images/Whatsapp.png" alt="WhatsApp">
                    </a>
                  </p>
            </div>
            <div class="mapa">
              <h2>Ubicación</h2>
              <p>Nuestra sede se encuentra aquí:</p>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4911.072846957981!2d-6.343397537771955!3d39.47927596120785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1744358203598!5m2!1ses!2ses"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
        </div>
    </div>
{% endblock %}