<!DOCTYPE html>
<html lang="es">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Photos/home/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        {% if request.user.is_authenticated %}
            {% if request.user.role == 'artist' %}
                {% include 'includes/header_artist.html' %}
            {% else %}
                {% include 'includes/header_user.html' %}
            {% endif %}
        {% else %}
            {% include 'includes/header_guest.html' %}
        {% endif %}

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>

        {% include 'includes/footer.html' %}
    </div>

    <button class="scroll-to-top" onclick="scrollToTop()" aria-label="Volver arriba">↑</button>

    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_js %} {% endblock %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>