{% extends 'base.html' %}
{% load static %}
{% block title %}Novedades - Undersounds{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/novedades.css' %}">

<h2 class="title">NOVEDADES</h2>
<p class="subtitle">Descubre las últimas canciones añadidas a nuestro catálogo</p>

<!-- Listado de novedades -->
<div id="contenedor" class="catalog">
    {% for song in songs %}
        <div class="album">
            <div class="cuadrado" style="animation-delay: {{ forloop.counter0|add:"0.1"|floatformat:1 }}s;" onclick="location.href='{% url 'music_detail_id' song.id %}'">
                <p class="album-title">{{ song.title }}</p>
                {% if song.album_cover %}
                    <img src="{{ song.album_cover.url }}" alt="{{ song.title }}">
                {% else %}
                    <img src="{% static 'images/default_album.jpg' %}" alt="Sin portada">
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p style="text-align: center;">No hay novedades disponibles en este momento.</p>
    {% endfor %}
</div>

{% endblock %}