{% extends 'base.html' %}
{% load static %}
{% block title %}Login - Undersounds{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user/css/auth.css' %}">
{% endblock %}
{% block content %}


<div class="auth-container">
    <h1 class="auth-title">INICIAR SESIÓN</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Usuario o Email:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <img src="{% static 'images/ver_oculto.png' %}" class="toggle-password" onclick="togglePasswordVisibility('password', this)" alt="Mostrar contraseña">
        </div>

        <button type="submit" class="submit-btn">ENTRAR</button>
    </form>

    <div class="auth-footer">
        ¿No tienes cuenta? Registrate aquí
        <a href="{% url 'register' %}">como fan</a> o <a href="{% url 'artist_register' %}">como artista</a>.
    </div>
</div>

<script src="{% static 'user/js/auth.js' %}"></script>
{% endblock %}