{% load static %}


<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer">
    <div class="footer-logo">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'images/white_logo.png' %}" alt="Undersounds logo">
        </a>
    </div>
    <ul class="footer-nav-links">
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
        <li><a href="{% url 'novedades' %}">Novedades</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
    </ul>
</footer>