{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header_guest.css' %}">
{% endblock %}

<header class="header">
    <div class="logo">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'images/black_logo.png' %}" alt="Undersounds logo">
        </a>
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
            <li><a href="{% url 'populares' %}">Populares</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            {% if user.is_authenticated %}
            <li class="profile-dropdown" id="profileDropdown">
                <a href="#" onclick="toggleDropdown(event, 'profileDropdown')" class="icon-link">
                    <img src="{% static 'images/perfil.png' %}" alt="Perfil" class="nav-icon">
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'perfil' %}">Mi perfil</a>
                    <a href="{% url 'historial_compras' %}">Compras</a>
                    <a href="{% url 'configuracion' %}">Configuración</a>
                </div>
            </li>
            {% else %}
            <li class="register-dropdown" id="registerDropdown">
                <a href="#" onclick="toggleDropdown(event, 'registerDropdown')" class="register-link">Registrarse</a>
                <div class="dropdown-content">
                    <a href="{% url 'register' %}">Registrarse como fan</a>
                    <a href="{% url 'artist_register' %}">Registrarse como artista</a>
                </div>
            </li>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<script src="{% static 'js/includes.js' %}"></script>