{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header_user.css' %}">
{% endblock %}

<header class="header">
    <div class="logo">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'images/black_logo.png' %}" alt="Undersounds logo">
        </a>
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
            <li><a href="{% url 'novedades' %}">Novedades</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li>
                <a href="{% url 'carrito' %}" class="icon-link">
                    <img src="{% static 'images/carrito.png' %}" alt="Carrito" class="nav-icon">
                </a>
            </li>
            <li class="profile-dropdown" id="profileDropdown">
                <a href="#" onclick="toggleDropdown(event)" class="icon-link">
                    {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" alt="Perfil" class="nav-icon">
                    {% else %}
                        <img src="{% static 'images/perfil.png' %}" alt="Perfil" class="nav-icon">
                    {% endif %}
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'perfil' %}">Mi perfil</a>
                    <a href="{% url 'historial_compras' %}">Compras</a>
                    <a href="{% url 'configuracion' %}">Configuración</a>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<script src="{% static 'js/includes.js' %}"></script>