{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header_artist.css' %}">
{% endblock %}

<header class="header">
    <div class="logo">
        <a href="{% url 'inicio' %}">
            <img src="{% static 'images/black_logo.png' %}" alt="Undersounds logo">
        </a>
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
            <li><a href="{% url 'populares' %}">Populares</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'artist_panel' %}">🎵 Panel de Artista</a></li>
            <li class="profile-dropdown" id="albumSongDropdown">
                <a href="#" onclick="toggleDropdown(event, 'albumSongDropdown')" class="icon-link">➕ Nuevo Álbum/Canción</a>
                <div class="dropdown-content">
                    <a href="{% url 'add_album' %}">➕ Nuevo Álbum</a>
                    <a href="{% url 'add_song' %}">➕ Nueva Canción</a>
                </div>
            </li>
            <li>
                <a href="{% url 'carrito' %}" class="icon-link">
                    <img src="{% static 'images/carrito.png' %}" alt="Carrito" class="nav-icon">
                </a>
            </li>
            <li class="profile-dropdown" id="profileDropdown">
                <a href="#" onclick="toggleDropdown(event, 'profileDropdown')" class="icon-link">
                    {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" alt="Perfil" class="nav-icon" style="width: 30px; height: 30px; radius: 50%; border-radius: 50%; object-fit: fill; object-position: center;">
                    {% endif %}                </a>
                <div class="dropdown-content">
                    <a href="{% url 'perfil' %}">Mi perfil</a>
                    <a href="{% url 'historial_compras' %}">Compras</a>
                    <a href="{% url 'favoritos' %}">Favoritos</a>
                    <a href="{% url 'configuracion' %}">Configuración</a>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<script src="{% static 'js/includes.js' %}"></script>
