/* Estilos para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; /* Reducido el padding vertical */
    background-color: #fff; /* Cambiado a blanco */
    color: #000; /* Cambiado a negro */
    font-family: 'Arial', sans-serif;
    height: 60px; /* Reducida la altura */
}

.logo a {
    text-decoration: none;
    color: inherit;
}
.logo a img{
    width: 200px; /* Reducido el tamaño del logo */
    height: auto;
}

/* Barra de navegación */
.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 25px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #000; /* Cambiado a negro */
    font-size: 16px; /* Reducido el tamaño de la fuente */
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #1db954;
}

/* Acciones de usuario (Login / Register) */
.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    text-decoration: none;
    color: #000; /* Cambiado a negro */
    font-size: 16px; /* Reducido el tamaño de la fuente */
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.user-actions a:hover {
    color: #1db954;
}

/* Separador entre Login y Register */
.user-actions a:not(:last-child)::after {
    content: "/";
    margin-left: 25px;
    color: #000; /* Cambiado a negro */
}