{% extends 'base.html' %}
{% block title %}{{ artist.name }} - Undersounds{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'music/css/music.css' %}">
{% endblock %}
{% block content %}
<div class="profile">
    <img src="{% static 'Photos/Cantantes/q.jpg' %}" alt="{{ artist.name }}">
    <h1>{{ artist.name }}</h1>
    <p>{{ artist.bio }}</p>
    <p><strong>Edad:</strong> {{ artist.age }} años</p>
    <p><strong>Nacionalidad:</strong> {{ artist.nationality }}</p>
    <p><strong>Premios:</strong></p>
    <ul>
        {% for award in artist.awards %}
            <li>{{ award }}</li>
        {% endfor %}
    </ul>

    <p><strong>Álbumes:</strong></p>
    <ul>
        {% for song in albums %}
            <li>
                <strong>{{ song.album_title }}</strong><br>
                Canción: {{ song.title }}<br>
                Género: {{ song.genre }}<br>
                Fecha de creación: {{ song.release_date|date:"d \d\e F \d\e Y" }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
