<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% block extra_css %} {% endblock %}
</head>
<body>
    <div class="wrapper">
        {# Incluimos el header en el archivo base.html #}
        {% include 'includes/header.html' %}

        <!-- Contenido principal -->
        <main class="main-content">
            {% block content %}
               <!-- El contenido específico de cada página se insertará aquí -->
            {% endblock %}
        </main>

        <!-- Footer -->
        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
