{% extends 'base.html' %}
{% block title %}
    Carrito
{% endblock %}
{%  load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class="cart-container">
        <h1>Tu Carrito</h1>
        <div class="cart-item">
            <a href="/music_detail/"><img src="/view/static/photos/PortadaCancion.png" alt="Portada" class="item-image"></a>
            <div class="item-details">
                <p>Canción: <strong><a href="/music_detail/">Diva Virtual</a> </strong></p>
                <p>Artista: <strong><a href="/artist_detail/">Don Omar</a></strong></p>
                <p>Precio: 19.99 €</p>
            </div>
            <button class="remove-item">Eliminar</button>
        </div>
        <div class="cart-item">
            <a href="/music_detail/"><img src="/view/static/Photos/PortadaCancion.png" alt="Portada" class="item-image"></a>
            <div class="item-details">
                <p>Canción: <strong><a href="/music_detail/">Gasolina</a></strong></p>
                <p>Artista:<strong><a href="/artist_detail/">Daddy Yankee</a></strong> </p>
                <p>Precio: 15.99 €</p>
            </div>
            <button class="remove-item">Eliminar</button>
        </div>
        <hr>
        <div class="cart-total">
            <p>Total: 35.98 €</p>
        </div>
        <div class="cart-buttons">
            <a href="/user/historial_compras/"><button class="checkout">Ir a Pagar</button></a>
            <a href="/catalogo/"><button class="continue-shopping">Seguir Comprando</button></a>
        </div>
    </div>
</body>
{% endblock %}