{% extends 'base.html' %}
{% load static %}

{% block title %}Pago - {{ producto.titulo }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1>{{ producto.titulo }}</h1>
    </div>
    <div class="form-group">
        <p><strong>{{ producto.precio }}</strong></p>
    </div>
    <div class="form-group">
        <p>
            Vendido por <a href="{{ producto.enlace_artista }}">{{ producto.artista }}</a>.
        </p>
        <p>{{ producto.descripcion }}</p>
    </div>
    <div class="form-group">
        <p>¿Tienes una tarjeta de regalo? <a href="#">Canjéala aquí</a></p>
    </div>
    <!-- Formulario para confirmar el pago -->
    <form method="POST" action="">
        {% csrf_token %}
        <div class="buttons">
            <button type="submit" class="buy-now">Comprar ahora</button>
        </div>
    </form>
    <div class="buttons">
        <a href="{{ producto.enlace_carrito }}">
            <button class="add-to-cart">Agregar al carrito</button>
        </a>
    </div>
    <div class="image-container">
        <a href="/music_detail/">
            <img src="{{ producto.imagen }}" alt="Imagen del álbum o canción">
        </a>
    </div>
</div>
{% endblock %}
