{% extends 'base.html' %}
{% block title %}
    Carrito
{% endblock %}
{%  load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}
{% block content %}

<body>
    <div class="cart-container">
        <h1>Tu Carrito</h1>
        <div class="cart-item">
            <a href="/music_detail/"><img src="/static/photos/PortadaCancion.png" alt="Portada" class="item-image"></a>
            <div class="item-details">
                <p><strong>Canción:</strong> <a href="/music_detail/">Diva Virtual</a></p>
                <p><strong>Artista:</strong> <a href="/artist_detail/">Don Omar</a></p>
                <p><strong>Precio:</strong> 19.99 €</p>
            </div>
            <button class="remove-item">Eliminar</button>
        </div>
        <div class="cart-item">
            <a href="/music_detail/"><img src="/static/Photos/PortadaCancion.png" alt="Portada" class="item-image"></a>
            <div class="item-details">
                <p><strong>Canción:</strong> <a href="/music_detail/">Gasolina</a></p>
                <p><strong>Artista:</strong><a href="/artist_detail/">Daddy Yankee</a> </p>
                <p><strong>Precio:</strong> 15.99 €</p>
            </div>
            <button class="remove-item">Eliminar</button>
        </div>
        <hr>
        <div class="cart-total">
            <p><strong>Total:</strong> 35.98 €</p>
        </div>
        <div class="cart-buttons">
            <a href="/user/historial_compras/"><button class="checkout">Ir a Pagar</button></a>
            <a class="continue-shopping" href="/catalogo/">Seguir Comprando</a>
        </div>
    </div>
</body>
{% endblock %}