{% extends 'base.html' %}
{% block title %}
    Pago
{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}
{% block content %}
    <style>
    </style>
<body>
    <div class="container">
        <div class="header">
            <h1>Diva Virtual</h1>
        </div>
        <div class="form-group">
            <p>19.99 €</p>
        </div>
        <div class="form-group">
            <p>Vendido por <a href="#">Don Omar</a>.</p>
            <p>Incluye transmisiones ilimitadas a través de la aplicación gratuita de UnderSounds, además de una descarga en alta calidad en MP3, FLAC y WAV <a href="#">más</a>.</p>
        </div>
        <div class="form-group">
            <p>¿Tienes una tarjeta de regalo? <a href="#">Canjéala aquí</a></p>
        </div>
        <div class="buttons">
            <button class="buy-now">Comprar ahora</button>
            <a href="carrito.html">
            <button class="add-to-cart">Agregar al carrito</button>
            </a>
        </div>
            <div class="image-container">
            <img src="" alt="Imagen del álbum o canción">
        </div>
    </div>
</body>
{% endblock %}