<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Novedades</title>

</head>
<body>

<!-- Header area -->
 <header class="headder-area">
     <div class="undersounds-main-menu">
        <div class="classynav-container">
         <div class="container">
        <nav class="classy-navbar" id="undersoundsNav">
             <div class="classynav">
            <ul>
             <li><a href="Home.html">Inicio</a></li>
             <li><a href="Catálogo.html">Catálogo</a></li>
             <li><a href="Novedades.html">Novedades</a></li>
             <li><a href="Contacto.html">Contacto</a></li>
             <li><a href=""></a></li>

            </ul>
            </div>
            </nav>
            </div>
     </div>
     </div>
 </header>

</body>
</html>