{% extends 'base.html' %}
{% block title %}Artist - Undersounds{% endblock %}
{% block content %}
<body>
<style>
        body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
        .profile {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 300px;
            text-align: center;
            animation: fadeIn 1s ease-in-out;
        }
        .profile img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ddd;
        }
        .profile h1 {
            font-size: 24px;
            margin: 10px 0;
        }
        .profile p {
            color: #666;
            margin: 10px 20px;
        }
        .profile ul {
            list-style: none;
            padding: 0;
        }
        .profile ul li {
            background-color: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .profile ul li:hover {
            background-color: #e0e0e0;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: scale(0.9);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
    </style>
<body>
    <div class="profile">
        <img src="../static/Photos/Cantantes/q.jpg" alt="Quinn Hall">
        <h1>Quinn Hall</h1>
        <p>Un productor de música electrónica y DJ.</p>
        <p><strong>Edad:</strong> 26 años</p>
        <p><strong>Nacionalidad:</strong> Canadiense</p>
        <p><strong>Premios:</strong></p>
        <ul>
            <li>Electronic Music Award</li>
        </ul>
        <p><strong>Álbumes:</strong></p>
        <ul>
            <li>
                <strong>Album_Z</strong><br>
                Canción: Galactic Glee<br>
                Duración: 2:17<br>
                Género: Electrónica<br>
                Fecha de creación: 22 de marzo de 2022
            </li>
        </ul>
    </div>
</body>
{% endblock %}