{% extends 'base.html' %}
{% block title %}Artist - Undersounds{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'music/css/music.css' %}">
{% endblock %}
{% block content %}
<body>

    <div class="profile">
        <img src="../static/Photos/Cantantes/q.jpg" alt="Quinn Hall">
        <h1>Quinn Hall</h1>
        <p>Un productor de música electrónica y DJ.</p>
        <p><strong>Edad:</strong> 26 años</p>
        <p><strong>Nacionalidad:</strong> Canadiense</p>
        <p><strong>Premios:</strong></p>
        <ul>
            <li>Electronic Music Award</li>
        </ul>
        <p><strong>Álbumes:</strong></p>
        <ul>
            <li>
                <strong>Album_Z</strong><br>
                Canción: Galactic Glee<br>
                Duración: 2:17<br>
                Género: Electrónica<br>
                Fecha de creación: 22 de marzo de 2022
            </li>
        </ul>
    </div>
</body>
{% endblock %}