{% extends 'base.html' %}
{% block title %}Catálogo - Undersounds{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'music/css/music.css' %}">
{% endblock %}
{% block content %}

<body>
    <div id="cont" class="titulo"></div>
    <h2 class="title">CATÁLOGO</h2>

    <div class="search-bar">
        <button id="lupa">lupa</button>
        <input type="text" id="nombreCancion" placeholder="Buscar por canción, artista, álbum, género ..." class="nombreCancion">
        <input type="date" id="fecha">
        <button id="buscarBtn">Buscar</button>
    </div>

    <div class="filter-buttons">
        <button class="filter-btn active" onclick="filterSelection('all')">Mostrar todo</button>
        <button class="filter-btn" onclick="filterSelection('albums')">Álbumes</button>
        <button class="filter-btn" onclick="filterSelection('artists')">Artistas</button>
        <button class="filter-btn" onclick="filterSelection('recent')">Recientes</button>
        <button class="filter-btn" onclick="filterSelection('popular')">Populares</button>
    </div>

    <div id="contenedor" class="catalog"></div>
    <script>
        let tracksData = [];

        fetch('/static/prueba5.json')
            .then(response => response.json())
            .then(data => {
                tracksData = data;
                displayTracks(tracksData);
            })
            .catch(error => console.error('Error al cargar el JSON:', error));

        function displayTracks(tracks) {
            const contenedor = document.getElementById('contenedor');
            contenedor.innerHTML = '';
            tracks.forEach((item, index) => {
                const albumDiv = document.createElement('div');
                albumDiv.className = 'album';

                const cuadradoDiv = document.createElement('div');
                cuadradoDiv.className = 'cuadrado';
                cuadradoDiv.style.animationDelay = `${index * 0.1}s`;

                const titleP = document.createElement('p');
                titleP.className = 'album-title';
                titleP.textContent = item.song_name;

                const img = document.createElement('img');
                img.src = item.album_photo;
                img.alt = item.title;
                img.style.width = '100%';
                img.style.height = '100%';
                img.style.objectFit = 'cover';

                cuadradoDiv.appendChild(titleP);
                cuadradoDiv.appendChild(img);
                albumDiv.appendChild(cuadradoDiv);
                albumDiv.addEventListener('click', () => {
                    localStorage.setItem('item', JSON.stringify(item));
                    window.location.href = `../music_detail/`;
                });

                contenedor.appendChild(albumDiv);
            });
        }


        document.getElementById('buscarBtn').addEventListener('click', function() {
            const searchText = document.getElementById('nombreCancion').value.toLowerCase();
            const search = document.getElementById('nombreCancion');
            search.value = "";

            const filteredTracks = searchText ? tracksData.filter(item => {
                const matchesTitle = item.song_name.toLowerCase().includes(searchText);
                const matchesArtist = item.artist_name.toLowerCase().includes(searchText);
                const matchesAlbum = item.album_name.toLowerCase().includes(searchText);
                const matchesGenre = item.genre.toLowerCase().includes(searchText);

                return matchesTitle || matchesArtist || matchesAlbum || matchesGenre;
            }) : tracksData;

            displayTracks(filteredTracks);
        });

        document.getElementById('lupa').addEventListener('click', function() {
            const nombreCancion = document.getElementById('nombreCancion');
            nombreCancion.style.display = nombreCancion.style.display === 'none' ? 'block' : 'none';
        });

        document.getElementById('nombreCancion').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                const searchText = document.getElementById('nombreCancion').value.toLowerCase();
                const search = document.getElementById('nombreCancion');
                search.value = "";

                const filteredTracks = searchText ? tracksData.filter(item => {
                    const matchesTitle = item.song_name.toLowerCase().includes(searchText);
                    const matchesArtist = item.artist_name.toLowerCase().includes(searchText);
                    const matchesAlbum = item.album_name.toLowerCase().includes(searchText);
                    const matchesGenre = item.genre.toLowerCase().includes(searchText);

                    return matchesTitle || matchesArtist || matchesAlbum || matchesGenre;
                }) : tracksData;

                displayTracks(filteredTracks);
            }
        });
    </script>
</body>
{% endblock %}