{% extends 'base.html' %}
{% load static %}
{% block title %}Catálogo - Undersounds{% endblock %}
{% block content %}
   <style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .cuadrado {
        flex: 1;
        padding-top: 100%;
        width: 17vw; /* Ajusta el ancho al 20% del ancho de la ventana */
        height: 17vw;
        border: 1px solid #000;
        display: inline-block;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: background-color 1s ease;
    }
    .cuadrado:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .cuadrado:hover .album-title {
        display: block;
    }
    .album-title {
        margin-top: 5px;
        font-size: 1em;
        color: #fff;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .catalog {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 50px;
        max-width: 1200px; /* Ancho máximo del contenedor */
        margin: 0 auto;
    }
    .album {
        flex: 1 1 calc(25% - 20px);
        width: calc(25% - 20px);
        margin: 10px;
        text-align: center;
        display: inline-block;
    }
    .titulo {
        font-size: 1em;
        color: #333;
        text-align: center;
        display: flex;
    }
    .cuadroBusqueda {
        flex: 2;
            display: none;
            margin-top: 20px;
            padding: 10px;
            width: 200px;
            background-color: #f9f9f9;
             transform: scale(0); /* Comienza pequeño */
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        /* Estilos para el botón con transición */
        #buscarBtn {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        #buscarBtn:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }
        #buscarBtn:hover + .cuadroBusqueda {
            display: block;
            opacity: 1;
            transform: scale(1); /* Agranda el menú */
        }

</style>
<body>
    <div id="cont" class="titulo"></div>
    <h2 class="title">Catálogo</h2>
    <button id="buscarBtn">Buscar</button>
    <div class="cuadroBusqueda" id="cuadroBusqueda">
        <p>Selecciona el formato de búsqueda:</p>
        <button>Por fecha</button>
        <button>Por nombre</button>
    </div>

    <div id="contenedor" class="catalog"></div>
    <script>
        fetch('/static/Tracks.json')
            .then(response => response.json())
            .then(data => {
                const contenedor = document.getElementById('contenedor');
                data.forEach(item => {
                    const albumDiv = document.createElement('div');
                    albumDiv.className = 'album';

                    const cuadradoDiv = document.createElement('div');
                    cuadradoDiv.className = 'cuadrado';

                    const titleP = document.createElement('p');
                    titleP.className = 'album-title';
                    titleP.textContent = item.title;

                    cuadradoDiv.appendChild(titleP);
                    albumDiv.appendChild(cuadradoDiv);
                    albumDiv.addEventListener('click', () => {
                        window.location.href = '../music_detail/';
                    });

                    contenedor.appendChild(albumDiv);
                });
            })
            .catch(error => console.error('Error al cargar el JSON:', error));
    </script>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('cuadroBusqueda');
            menu.style.display = menu.style.display === 'none' ? 'block' : 'none';
        }

        // Asegúrate de que el menú se muestre correctamente la primera vez
        document.addEventListener('DOMContentLoaded', () => {
            const menu = document.getElementById('cuadroBusqueda');
            menu.style.display = 'none';
        });
        const buscarBtn = document.getElementById('buscarBtn');
        const menu = document.getElementById('cuadroBusqueda');

        buscarBtn.addEventListener('mouseover', () => {
            menu.style.display = 'block';
        });

        buscarBtn.addEventListener('mouseout', () => {
            menu.style.display = 'none';
        });

        menu.addEventListener('mouseover', () => {
            menu.style.display = 'block';
        });

        menu.addEventListener('mouseout', () => {
            menu.style.display = 'none';
        });
    </script>
</body>

{% endblock %}