{% extends 'base.html' %}
{% load static %}
{% block title %}Cancion - Undersounds{% endblock %}
{% block content %}
    <style>
        body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .new-comment {
             flex: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
        height: 5vw;
        width: 25vw;
            margin: 0 auto;
            background: white;
            border-radius: 15px;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header .logo img {
            height: 40px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

        main {
            padding: 20px;
        }

        .track-info {
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-right: 40px;
        }
        .track-info img {
            height: 20vw;
            margin: 15px;
            border-radius: 15px;
        }

.track-details {
    flex: 1;
    text-align: left;
}

.track-details h1,
.track-details p {
    margin: 5px 0;
}

.track-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-buttons button {
    margin: 5px 0;
}
        .play-button {
            background-color: #1db954;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        .comments-section {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .comments-section h2 {
            margin-bottom: 10px;
        }

.comment {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre la información del usuario y el comentario */
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 40px;
}

.come {
    display: flex;
    flex-direction: column; /* Alinea los detalles del comentario verticalmente */
}

.comment p {
    margin: 5px 0;
}

.rating {
    display: flex;
}

.star {
    font-size: 20px;
    color: orange;
    margin-right: 5px;
}

        .author-info, .track-list {
            width: 45%;
        }

        .author-info {
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 15px;
            margin-right: 40px;
        }

        .track-list {
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 5px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        textarea {
            width: 70%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            padding: 10px 20px;
            margin-top: 10px;
            border: none;
            background-color: #1db954;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1db954;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
        }

        .overlay.active {
            visibility: visible;
        }

        .info-box {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 300px;
        }

        .info-box h2 {
            margin-top: 0;
        }

        .info-box button {
            padding: 10px 20px;
            margin: 10px;
            border: none;
            background-color: #1db954;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .info-box button:hover {
            background-color: #1db954;
        }


        .star-rating {
            direction: rtl;
            display: inline-block;
            padding: 20px;
        }
        .star-rating input[type="radio"] {
            display: none;
        }
        .star-rating label {
            color: #bbb;
            font-size: 30px;
            padding: 0;
            cursor: pointer;
        }
        .star-rating input[type="radio"]:checked ~ label,
        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color: #f2b600;
        }
        .Desc {
            display: none;
        }

         .audio-player {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }
        .play-button {
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }
        .progress-bar {
            flex-grow: 1;
            margin: 0 10px;
        }
        .linfo {
            display: inline-block;
            position: relative;
        }
        .linfo:hover {
            color: #1db954;
        }
        .linfo:hover .barra {
            width: 100%;
        }

        .barra {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #1db954;
            transition: width 0.2s ease;
        }

    </style>

<body>
    <main>
        <div id="overlay" class="overlay">
        <div class="info-box">
             <h2>Información</h2>
            <p id="info-text">Este es un cuadro de información.</p>
            <button onclick="window.location.href='../login/'; hideInfoBox();">Sin Usuario</button>
            <button onclick="">Con Usuario</button>
            <button onclick="hideInfoBox()">Cerrar</button>
        </div>
        </div>
        <div id="overlayDesc" class="overlay">
        <div class="info-box">
            <h2>Información</h2>
            <p id="info-text">Este es un cuadro de información.</p>
            <a href="../static/MP3.txt" download="MP3.txt">
                <button>MP3</button>
            </a>
            <a href="../static/FLAC.txt" download="FLAC.txt">
                <button>FLAC</button>
            </a>
            <a href="../static/WAV.txt" download="WAV.txt">
                <button>WAV</button>
            </a>
            <button onclick="hideInfoBoxD()">Cerrar</button>
        </div>
        </div>
        <div id="overlayComent" class="overlay">
        <div class="info-box">
            <h2>Información</h2>
            <p id="info-text">Este es un cuadro de información.</p>
            <button onclick="window.location.href='../login/'; hideInfoBoxC();">Sin Usuario</button>
            <button onclick="addComment()">Con Usuario</button>
            <button onclick="hideInfoBoxC()">Cerrar</button>
        </div>
        </div>
        <button class="back-button" onclick="goBack()"><-</button>
        <div class="track-info" id = "track-info">
            <div class="track-details">
                <h1 id="song-name"></h1>
                <p id="artist-name"></p>
                <div class="audio-player">
        <audio id="audio" src="ruta/al/audio.mp3"></audio>
        <input type="range" id="progress-bar" class="progress-bar" value="0" max="100">
        <button class="play-button" onclick="togglePlay()">Play</button>
                    <button id="like" >♡ ❤</button>
    </div>


                <button id="Desc-button" onclick="showInfoBoxD()" ></button>
            </div>
            <img id="track-cover" class="track-cover" alt="Track Cover">
        </div>
        <button id="Descripcion">Descripcion</button>
        <div id="Desc" class="Desc">
            <p>Descripcion de la cancion</p>
        </div>
        <div class="comments-section">
            <div class="comments">
                <h2>Comments</h2>
                <div id="comments-anadir">
                   <input type="text" id="new-comment" placeholder="Añadir un comentario..." class="new-comment"></input>
                    <div class="star-rating">
        <input type="radio" id="star5" name="rating" value="5"><label for="star5">★</label>
        <input type="radio" id="star4" name="rating" value="4"><label for="star4">★</label>
        <input type="radio" id="star3" name="rating" value="3"><label for="star3">★</label>
        <input type="radio" id="star2" name="rating" value="2"><label for="star2">★</label>
        <input type="radio" id="star1" name="rating" value="1"><label for="star1">★</label>
    </div>
                <button onclick="showInfoBoxC()">Enviar</button>
                </div>
                <div id="comentarios"></div>

            </div>
            <div class="author-info">
                <h2>Author Information</h2>
                <button id="edit-button" onclick="window.location.href='../perfil/';" >Seguir</button>
                <img id="author-image" class="author-images" alt="../static/Photos/OIP.jpg" >
                <p><strong>Name:</strong> <span id="author-name"></span></p>
                <p><strong>Genre:</strong> <span id="author-genre"></span></p>
                <h2>Canciones del mismo album</h2>
                <div id="song-list"></div>
            </div>
        </div>
    </main>
    <script>
        var audio = document.getElementById('audio');
        var progressBar = document.getElementById('progress-bar');
        var playButton = document.querySelector('.play-button');

        audio.addEventListener('timeupdate', function() {
            var value = (audio.currentTime / audio.duration) * 100;
            progressBar.value = value;
        });

        progressBar.addEventListener('input', function() {
            var time = (progressBar.value / 100) * audio.duration;
            audio.currentTime = time;
        });

        function togglePlay() {
            showInfoBox();
            if (audio.paused) {
                audio.play();
                playButton.textContent = 'Pause';
            } else {
                audio.pause();
                playButton.textContent = 'Play';
            }
        }


        function goBack() {
            window.history.back();
        }

        function showInfoBox() {
            document.getElementById('overlay').classList.add('active');
        }

        function hideInfoBox() {
            document.getElementById('overlay').classList.remove('active');
        }

        function showInfoBoxD() {
            document.getElementById('overlayDesc').classList.add('active');
        }

        function hideInfoBoxD() {
            document.getElementById('overlayDesc').classList.remove('active');
        }

        function showInfoBoxC() {
            document.getElementById('overlayComent').classList.add('active');
        }

        function hideInfoBoxC() {
            document.getElementById('overlayComent').classList.remove('active');
        }

        const item = JSON.parse(localStorage.getItem('item'));


        if (item) {
            document.getElementById('song-name').textContent = item.song_name;
            document.getElementById('artist-name').textContent = `by ${item.artist_name}`;
            document.getElementById('track-cover').src = item.album_photo;
            document.getElementById('author-name').textContent = item.artist_name;
            document.getElementById('author-genre').textContent = item.genre;
            document.getElementById('author-image').src = item.artist_photo;
            const desc = document.getElementById('Desc-button');
            desc.innerText = "Descargar " + item.price + "$";
            mostrarComentarios();

            const trackList = document.getElementById('track-list');
            mostrarComentarios();
        } else {
            document.querySelector('.track-info').innerHTML = '<p>No hay datos disponibles.</p>';
        }


        let canciones = [];
        fetch('/static/prueba5.json')
            .then(response => response.json())
            .then(data => {
                canciones = data;
                filterCanciones();
            })
        .catch(error => console.error('Error al cargar el JSON:', error));

        function filterCanciones() {
            fetch('/static/prueba5.json')
                .then(response => response.json())
                .then(data => {
                    canciones = data;
                    const filteredSongs = canciones.filter(cancion => {
                        const matchesAlbum = cancion.album_name.toLowerCase() === item.album_name.toLowerCase();
                        const isNotCurrentSong = cancion.song_name.toLowerCase() !== item.song_name.toLowerCase();

                        return matchesAlbum && isNotCurrentSong;
                    });
                    mostarCanciones(filteredSongs);
                })
        }

        function mostarCanciones(songs){
            const contenedor = document.getElementById('song-list');
            contenedor.innerHTML = '';
            songs.forEach(cancion => {
                const songDiv = document.createElement('div');
                songDiv.className = 'songDiv';
                const li = document.createElement('p');
                li.className = 'linfo';
                li.classList.add('linfo');
                li.textContent = cancion.song_name;
                li.addEventListener('click', () => {
                    localStorage.setItem('item', JSON.stringify(cancion));
                    window.location.href = `../music_detail/`;
                });
                const progressBar = document.createElement('div');
        progressBar.className = 'barra';
        li.appendChild(progressBar);
                songDiv.appendChild(li);
                contenedor.appendChild(songDiv);
            });
        }

        document.getElementById('Descripcion').addEventListener('click', function() {
            const Desc = document.getElementById('Desc');
            Desc.style.display = Desc.style.display === 'block' ? 'none' : 'block';
        });

        function mostrarComentarios() {
    const comentariosDiv = document.getElementById('comentarios');
    comentariosDiv.innerHTML = '';

    item.comments.forEach((comment, index) => {
        const commentDiv = document.createElement('div');
        commentDiv.classList.add('comment');

        const userDiv = document.createElement('div');
        userDiv.classList.add('user');

        const img = document.createElement('img');
        img.src = comment.profile_photo;
        img.alt = "Foto de perfil";
        img.onerror = function() {
            img.src = "../static/Photos/OIP.jpg";
        };
        userDiv.appendChild(img);

        const userName = document.createElement('p');
        userName.textContent = `${comment.user_name}`;
        userDiv.appendChild(userName);

        const commentContentDiv = document.createElement('div');
        commentContentDiv.classList.add('come');

        const userComment = document.createElement('p');
        userComment.textContent = `Comentario: ${comment.comment}`;
        commentContentDiv.appendChild(userComment);

        const userRating = document.createElement('div');
        userRating.classList.add('rating');
        for (let i = 1; i <= 5; i++) {
            const star = document.createElement('span');
            star.classList.add('star');
            star.innerHTML = i <= comment.rating ? '★' : '☆';
            userRating.appendChild(star);
        }
        commentContentDiv.appendChild(userRating);

        commentDiv.appendChild(userDiv);
        commentDiv.appendChild(commentContentDiv);
        comentariosDiv.appendChild(commentDiv);
    });
}

        function addComment() {
            const newComment = document.getElementById('new-comment').value;
            const userName = "Nuevo Usuario";
            const profilePhoto = "../static/Photos/Users/default.jpg";
            const rating = document.querySelector('.star-rating input:checked') ? document.querySelector('.star-rating input:checked').value : 0;

            if (newComment) {
                const comment = {
                    user_name: userName,
                    profile_photo: profilePhoto,
                    comment: newComment,
                    rating: rating
                };

                item.comments.unshift(comment);
                mostrarComentarios();

                document.getElementById('new-comment').value = '';
                document.querySelector('.star-rating input:checked').checked = false;
            } else {
                alert('Por favor, añade un comentario.');
            }
            hideInfoBoxC();
        }

    </script>
{% endblock %}