{% extends 'base.html' %}
{% load static %}
{% block title %}Catálogo - Undersounds{% endblock %}
{% block content %}
<style>
.cancion {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 50px;
        max-width: 1200px;
        margin: 0 auto;
}
.cancion-Repr{
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: background-color 0.8s ease;
}
.cancion-Titulo {
    display: inline-block;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: background-color 0.8s ease;
}
.cancion-Info {
    display: inline-block;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: background-color 0.8s ease;
}
</style>
<body>
<div class="cancion">
    <div class="cancion-Repr">
        <audio autoplay controls></audio>
    </div>
    <div class="cancion-Titulo">
        <img src="../static/Photos/pe.jpg">
    </div>
</div>
<div class="Cancion-Info">
    <input type="text" id="Coment" placeholder="Deja tu comentario...">
    <div class="Cancion-Perfil">
        <img src="../static/Photos/pe.jpg">
    </div>
    <div class="Cancion-comentarios">
        <p>comentarios</p>
    </div>
    <div class="Cancion-album">
        <img src="../static/Photos/pe.jpg">
    </div>
</div>
</body>

{% endblock %}